<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABC</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <img alt="All aBout Cars" class="img-rounded" src="logo.png" width="100%">
    <div class="list-group">
        <a class="list-group-item list-group-item-action" href="/search">Search a Car</a>
        <a class="list-group-item list-group-item-action" href="/addCar">Add a new Car</a>
        <a class="list-group-item list-group-item-action" href="/cars">List of all Available
            Cars</a>
    </div>
</div>
<footer>
    <div class="text-center">
        © 2023 Copyright:
        <a href="#">Shashank Shekhar</a>
    </div>
</footer>
</div>
</body>
</html>